.dialog {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   border-radius: 0.8rem;
   z-index: 99999;
   background-color: transparent;
   transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
   opacity: 0;
   visibility: hidden;
   &__content {
      position: absolute!important;
      top: 50%;
      left: 50%;
      transform: translate(-50%,100%) scale(0.2);
      z-index:999999;
      border-radius: 0.6rem;
      @include size(80vw, 82vh);
      max-height: 82vh;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      background-color: $white-color;
      padding: 2rem;
      overflow-y: auto;
      &::-webkit-scrollbar {
         width: 0.5rem;
      }
      &::-webkit-scrollbar-track {
         background: #c7c7c7;
         border-radius: 1rem;
      }
      &::-webkit-scrollbar-thumb {
         background: $primary-color;
         border-radius: 1rem;
      }
   }
   &__title {
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
      margin: 2rem 0;
   }
   &__close {
      position: absolute;
      @include size(4rem);
      border-radius: 50%;
      @include flex(center,center);
      background-color: $white-color;
      top: 0;
      right: 0;
      cursor: pointer;
   }
   &__active {
      transform: translateY(0) scale(1);
      opacity: 1;
      visibility: visible;
      background-color: #6d68688a;
      .dialog__content {
         transform: translate(-50%,-50%) scale(1);
      }
   }
   &__slider {
      &--wrap {
         @include flex(center,center);
      }
   }
   img {
      border-radius: 0.6rem;
   }
   .sliderImage {
      height: 50rem;
      width: 80rem;
      img {
         height: 100%;
      }
      .swiper-slide {
         @include flex(center,center);
         
      }
   }
   .thumbarSilderImage {
      margin-top: 2rem;
      img {
         width: 10rem;
         height: 10rem;
         object-fit: cover;
      }
      .swiper-slide {
         width: 25%;
         height: 100%;
         opacity: 0.5;
      }
      .swiper-slide-thumb-active {
         opacity: 1;
      }
   }
   .swiper-pagination-fraction {
      color: $white-color;
   }
   // hotel detail amenity
   &__amenity {
      &--wrap {
         margin-bottom: 3rem;
         img {
            @include size(2rem);
         }
      }
      &--title {
         font-size: 2.4rem;
         font-weight: bold;
         margin-bottom: 3rem;
         @include flex(center, start);
         gap: 1rem;
      }
      &--list {
         @include flex(center, start, row, wrap);
         column-gap: 10rem;
         row-gap: 2rem;
      }
      &--item {
         @include flex(center, start);
         gap: 1rem;
         width: calc(33.3333% - 6.75rem);
         
      }
   }

}
