$font-family: "Roboto", sanserif;
$black-color: #000;
$white-color: #fff;
$text-color: #333;
$text-gray-color: #99a2bc;
$text-title-color: #212633;
$red-color: #da2128;
$gray-light-color: #e9e9e9;
$gray-color: #999999;
$btn-color: #545457;
$border-color: #e1e1e1;
$old-color: #e5f6f9;
$red-light-color: #ef2061;
$primary-color: #23bda4;
$primary-light-color: #e1fffa;
$blue-dark-color: #0158a8;
$bg-red-color: #e20042;
$pink-color: #ef2061;
$yellow-color: rgb(255, 188, 57);
$green-color: rgb(0, 135, 90);
$primary-font: "Roboto", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
