.product {
    padding-bottom: 3rem;
    &__container {
        @include flex(start, space-between, row);
        gap: 2rem;
    }
    &__sortbar {
        @include flex(center, space-between);
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid $gray-light-color;
        h3 {
            font-size: 2rem;
            font-weight: 500;
        }
    }
    .sortbar {
        &__text {
            flex-shrink: 0;
        }
    }
    .sidebar {
        position: sticky;
        top: 2em;
        z-index: 999;
        width: 23%;
        padding: 1.5rem;
        border-radius: 1.6rem;
        background-color: #f8f8f8;
        &__title {
            font-size: 1.8rem;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 0.1rem solid $gray-light-color;
            font-weight: 600;
        }
        &__nav {
            &--list {
                @include flex(start, space-between);
                gap: 1rem;
                margin-bottom: 1rem;
            }

            &--item {
                width: calc(50% - 1rem);
                padding: 1rem 0;
                border-radius: 0.8rem;
                border: 0.1rem solid $gray-light-color;
                color: $primary-color;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s linear;
                &:hover {
                    background-color: $primary-color;
                    color: $white-color;
                    border-color: $primary-color;
                }
                input {
                    display: none;
                    padding: 0.5rem;
                }
            }
            &--active {
                background-color: $primary-color;
                color: $white-color;
                border-color: $primary-color;
            }
        }
        &__select {
            width: 100%;
            position: relative;
            &--btn {
                padding: 1rem;
                border-radius: 0.6rem;
                background-color: $white-color;
                border: 0.1rem solid $gray-light-color;
                cursor: pointer;
                @include flex(center, space-between);
                line-height: 1.3;
                &:hover {
                    color: $primary-color;
                    background-color: $primary-light-color;
                    border-color: $primary-color;
                }
            }
            .filter__list {
                position: absolute;
                z-index: 99;
                height: 0rem;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s linear;
                background-color: #fff;
                border-radius: 0.6rem;
                box-shadow: 0 0 0.3rem 0.2rem $gray-light-color;
                margin-top: 0;
                max-height: 20rem;
                &::-webkit-scrollbar {
                    width: 0.4rem;
                    border-radius: 0.6rem;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: $primary-color;
                    border-radius: 0.6rem;
                }
            }
            .filter__item {
                padding: 1rem;
                width: 100%;
                &:hover {
                    background-color: $primary-light-color;
                }
            }
            &--active {
                .filter__list {
                    height: auto;
                    overflow: unset;
                    opacity: 1;
                    visibility: visible;
                    margin-top: 1rem;
                    overflow: auto;
                    width: 100%;
                }
            }
        }
        &__filter {
            margin-top: 1rem;
        }
        .filter__title {
            margin-bottom: 1rem;
            font-weight: 600;
        }
        &__filter--price {
            .filter__list {
                @include flex(start, start, row, wrap);
                gap: 0.5rem;
            }
            .filter__item {
                width: 100%;
                border: 0.1rem solid $gray-light-color;
                border-radius: 0.6rem;
                text-align: center;
                background-color: $white-color;
                padding: 1rem;
                transform: all 0.3s linear;
                cursor: pointer;
                &:hover {
                    color: $primary-color;
                    border-color: $primary-color;
                }
            }
            .filter__item--active {
                background-color: $primary-light-color;
                border-color: $primary-color;
                color: $primary-color;
            }
        }
    }
    &__right {
        width: 75%;
    }
    .tour {
        &__list {
            @include flex(start, start, row, wrap);
            gap: 2rem;
        }
        &__item {
            width: calc(33.3333% - 1.4rem);
        }
    }
}
.filter__remove {
    font-weight: 500;
    display: block;
    color: $primary-color;
    font-size: 1.5rem;
    cursor: pointer;
}
.sidebar__filter--wrap {
    @include flex(center, space-between);
}
.sidebar--overplay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #bbbaba57;
    z-index: 20;
}
.filter--icon {
    display: none;
}
@media screen and (max-width: $breakpoint-xl) {
}
@media screen and (max-width: $breakpoint-lg) {
    .filter--icon {
        display: block;
        position: absolute;
        @include size(4rem);
        background-color: $primary-color;
        color: $white-color;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
        cursor: pointer;
        top: 50%;
        left: -2rem;
        transform: translate(-50%);
        z-index: 49;
        i {
            @include size(100%);
            @include flex(center, center);
        }
    }
    .product {
        .sidebar {
            width: 25rem;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $white-color;
            border-radius: unset;
            transform: translateX(100%);
            transition: all 0.3s linear;
            &__wrap {
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s linear;
            }
            &.sidebar--active {
                transform: translateX(0);
                .sidebar__wrap {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &__nav {
                &--list {
                    flex-direction: column;
                }
                &--item {
                    width: 100%;
                }
            }
        }
        .overplay--active {
            display: block;
        }
        &__right {
            width: 100%;
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .product {
        .tour__item {
            width: calc(50% - 1rem);
        }
    }
}
@media screen and (max-width: $breakpoint-sm) {
    .product {
        .tour__item {
            width: calc(100%);
            img {
                height: 25rem;
            }
        }
    }
}
